body {
    background-color:#edeef0;
}
.left_field {
    width: 200px;
}
.right_field {
    width:600px;
}
.jopa {
    background-color:white;
    border: 2px solid #e7e8ec;
    border-radius: 5px;
    height: 550px;
    padding: 0px;
}
.leftbutton {
    width: 100%;
    margin: 1px;
    text-align:left;
    border: 0px solid #000000;
    background-color:#edeef0;
    padding: 7px;
    color: #2a5885;
}
.leftbutton:hover {
    background-color: #d3d9de;
    border-radius: 3px;
}
.Header {
    background-color: #4a76a8;
    color: white;
    font-family: "TT Commons Medium";
    font-size: 24px;
    text-align: center;
    padding: 7px;
    margin: -8px;
}
.sign {
    color: #a3aaa5;
    text-align: center;
    padding: 5px;
}
.tb {
    margin: 15px;
}
.rf {
    padding: 10px;
}